body {
    height: 80%;
}

.favorite {
    width: 70%;
    margin: auto 15%; 
    padding: 10px;
}

.titulo {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    justify-content: center;
    align-items: center; 
    background-size: cover;
    background-position: center;
}

.space{
    height: 100px;
  
}

hr {
    height: 1px;
    color: rgba(243, 243, 243, 0.212);

}

.box {
    height: 230px;
}

.tarjeta {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: 5%;
} 
#all {
    height: 100vh;
}