@keyframes fadeIn {
    from {
        opacity: 0;
        /* Inicia con opacidad cero */
    }

    to {
        opacity: 1;
        /* Termina con opacidad completa */
    }
}
body {
    height: 80%;
}

.favorite {
    width: 70%;
    margin: auto 15%; 
    padding: 10px;
}

.titulo {
        animation: fadeIn 1s ease-in-out;
        /* background: linear-gradient(to bottom, #0b8ea5 , #e5ebe9 ); */
        background-color: #048c98;
        color: rgb(238, 236, 236);
        font-size: 26px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        background-size: cover;
        background-position: center;
        height: 70px;
        letter-spacing: 4px; 
        box-shadow: 0px 5px 5px rgba(168, 168, 168, 0.5);
}

.space{
    height: 100px;
  
}

hr {
    height: 1px;
    color: rgba(243, 243, 243, 0.212);

}

.box {
    height: 230px;
}

.tarjeta {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content:space-between;
    gap: 25px;
    margin-top: 5%;
} 
#all {
    height: 100vh;
}